.service-list {
    margin-top: 10px;
}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.book-btn {
    background: var(--secondary); /* The Green Color */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.book-btn:hover {
    background: #009e7f;
    transform: scale(1.05);
}
